[remote "powerman"]
	url = git@github.com:powerman/vim-plugin-autosess.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[commit]
    message = n
[push]
    remote = origin
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
